body,
html {
  margin: 0;
}

.blue-body {
  background-color: #7cd5de;
  height: 1500px;
}

.title {
  color: white;
  font-size: 70px;
  position: relative;
  padding: 200px 50px 0px 50px;
}

.red-bar {
  background-color: #fa7978;
  width: 100%;
  height: 150px;
  position: fixed;
  margin-top: 0;
  z-index: 1;
}

.yellow-bar {
  background-color: #f9cb04;
  width: 25vw;
  height: 1334px;
  position: absolute;
  right: 0px;
  top: 150px;
  border: 8px solid #a49d87;
}

.green-box {
  background-color: #badc57;
  width: 100px;
  height: 50px;
  position: absolute;
  top: 14vh;
  z-index: 2;
  right: 23vw;
}
