body,
html {
  background-color: #348ffd;
  padding: 0;
  margin: 0;
}

.red-box {
  width: 300px;
  height: 300px;
  background-color: #fa6b80;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.grey-box {
  background-color: #c9c4c4;
  width: 12rem;
  height: 4rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: sans-serif;
}

.grey-box:nth-child(1):hover {
  background-color: darkcyan;
}

.grey-box:nth-child(2):hover {
  background-color: rgb(145, 45, 45);
}

.grey-box:nth-child(3):hover {
  background-color: rgb(87, 16, 87);
}

.grey-box:hover {
  transition: all 0.8s ease-out;
  width: 8rem;
  color: white;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}
